<form
    [formGroup]="fg"
    (ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['descripcion'].value, fg.controls['url'].value)">
    <div class="form-group">
        <label for="nombre">Nombre
            <span style="color: red" *ngIf="!fg.controls['nombre'].valid">*</span><span style="color: red" *ngIf="fg.controls['nombre'].hasError('required')">campo requerido</span>
        </label>
        <input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre..." [formControl]="fg.controls['nombre']">
        <ul>
            <li *ngFor="let r of searchResults;">{{r}}</li>
        </ul>
        <div style="color: red" *ngIf="!fg.controls['nombre'].hasError('required') && fg.controls['nombre'].hasError('invalidNombre')">- Title Case</div>
        <div style="color: red" *ngIf="!fg.controls['nombre'].hasError('required') && fg.controls['nombre'].hasError('minLongNombre')">- Al menos {{minLongitud}} de largo</div>
</div>
    <div class="form-group">
        <label for="nombre">Descripción</label>
        <input type="text" class="form-control" id="descripcion" placeholder="Ingresar descripción..." [formControl]="fg.controls['descripcion']">
    </div>
    <div class="form-group">
        <label for="Imagen Url">Imagen Url<span style="color: red" *ngIf="!fg.controls['url'].valid">* campo invalido</span></label>
        <input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar url..." [formControl]="fg.controls['url']">
    </div>
    <button type="submit" class="btn btn-primary" *ngIf="fg.valid">Guardar!</button>
</form>