<div class="card-content">
	<div class="card-img">
		<img src="{{destino.imagenUrl}}" alt="La imagen no fue encontrada">
		<span><h4>{{posicion}}</h4></span>
	</div>
	<div class="card-desc">
		<h3>{{destino.nombre}}</h3>
		<p>{{destino.descripcion}}</p>
		<p>Servicios</p>
		<ul>
			<li *ngFor="let s of destino.servicios">
				<span [ngSwitch]="s">
					<i *ngSwitchCase="'desayuno'" style="color:red">{{s}}</i>
					<i *ngSwitchDefault>{{s}}</i>
				</span>
			</li>
		</ul>
		<a href="#" class="btn-card" (click)="ir()">Ir!</a>
		<span *ngIf="destino.isSelected()">
			<span ngNonBindable>{{PREFERIDO}}</span>
		</span>
		<a [routerLink]="['/destino']">Ver Detalle</a>
	</div>
</div>